<div class="center hero-unit">
  <h1>Welcome to Shajarah</h1>

  <h2>
    This is the home page for the Shajarah application.
  </h2>
<% unless current_user %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary white" %>&nbsp; OR &nbsp;
  <%= link_to "Connect With Facebook", "http://powerful-forest-7444.herokuapp.com/auth/facebook", class: "btn btn-large btn-primary facebook", :id => "signin_fb" %>
  <% else %>
    <%= link_to "View/Build Your Profile", current_user, class: "btn btn-large btn-primary facebook"  %>
   <% authent = Authorization.find_by_user_id(current_user.id)%>
	<% if authent %>
    <%= link_to "Invite your Friends", "#", class: "btn btn-large btn-primary facebook", :id => "invite_fb_friends"  %>
    <% user1 = User.find(current_user.id) %>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
    $(function(){
    	$("a#invite_fb_friends").click(function(){
    		FB.init({
    			appId: '786610081354504',
    			cookie: false,
    			status: true
    		});
    		FB.ui({method: 'apprequests', message: 'you have been invited to build your family tree using Shajarah App.'});
    	});
    });
    </script>
    <% end %>
  <% end %>
</div>

