
<p id="notice"><%= notice %></p>
<p>
  <%= gravatar(@user) %>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% test = true %>
<% unless @user.profiles.empty? %>
<% @user.profiles.each do |p| %>
<% end %>
<% end %>
